* {
	margin: 0;
    padding: 100;
    
}

body{
    margin: 0;
	padding: 10;
    /*background-color: grey;*/
}

#contenedor{
    padding:10;
    width: 98%;
    margin: 0.5em auto;
	padding: 0.5em;
    background-color: white ;
}

#inicial{
    font-size: 50px;
    color: #327da8;
}

#centro{
    width: 100%;
    height: 100%;
    
    background-color: chocolate;
}

#barra{
    /*border-right: 1px solid #327da8;*/
    width: 15%;
    background-color: white;
    float: left;
    margin-right: 15px;
}

#cont{
    width: 80%;
    float: left;
    
}
#pie{
    float: right;
    width: 85%;
    clear:both; background: #3db7fc;
}

.custom {
    width: 200px !important;
}

.tit {
    color: #327da8;
    font-size: 30px;
    text-align: center;
}

.nvo{
    background-color:#17a2b8; 
    border-radius:5px;
}

.nvo:hover{
    background-color:#138496; 
    border-radius:5px;
}

.bg-custom {
    background-color:#008aad !important;
}